@font-face {
  src: url('MaterialIcons-Regular.ttf');
  font-family: 'Material';
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 20px;
  border: 1px solid #ccc;
  margin: 0 auto;
  background: white;
}

th,
td {
  padding: 12px;
  text-align: left;
  cursor: pointer;
}

thead {
  border-bottom: 1px solid #ccc;
}

th:nth-child(3) {
  border-right: 1px solid #ccc;
}

td:nth-child(3) {
  border-right: 1px solid #ccc;
}

.header {
  display: flex;
  align-items: center;
}

.heading {
  flex: auto
}

.selected {
  background-color: #eee;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input,
select {
  margin-bottom: 10px;
  padding: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 30px;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: normal;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#addOrderForm button,
#editOrderForm button {
  padding: 10px;
  width: 150px;
}


input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;

}

input[type="checkbox"]::before {
  content: "";
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="%235f6368" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

input[type="checkbox"]:checked::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="%232854C5" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

input[type="checkbox"]:not(:checked)::before {
  content: "";
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="%235f6368" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}